html{
    /* background-color: darkseagreen; 
    Obsidian blue = #656c78
    Ice blue = #cad6df
    luminous peach = #f8dcc9
    starry yellow = #f0e2cd
    */
    background-color: #ffeef2;
}

a{
    text-decoration: none;
    color: white;
}

.title{
    margin-left: 5%;
    display: inline-block;
}

.heading {
    background-color: #595758;
    padding: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: left;
}

.heading a {
    padding-right: 5%
}
.heading h1 {
    color: white;
    padding-right: 50%;
    
}

body {
    margin: 0px;
    padding: 0px;
}


